@page
@model WellnessSite.Pages.Services.ServiceModel

@{
    ViewData["Title"] = "Service";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}

<h1>Service</h1>
<a asp-page="./Index" class=" btn btn-info">Return to A-Z</a>
<div>
    <h4>@Model.Service.Name - @Model.Service.Category</h4>
    @if (Model.user != null)
    {
            <form method="post">
                <button asp-page-handler="Bookmark" asp-route-id="@Model.id">@(Model.Bookmarked ? "Unb" : "B")ookmark Service</button>
            </form>
    }
    else
    {
                 <p><a asp-page="../auth/Index">Login or Register</a> to Bookmark Service</p>
    }
    <hr />
    <div class="row service-row">
        <div class="col-md-6">
            @Model.Service.Description
        </div>
        <div class="col-md-6">
            @if(Model.Service.ImageData != null && Model.Service.ImageData.Count() > 0){
			    <img class="service-image" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Service.ImageData))" alt-text="@Model.Service.ImageAltText" />
            }
            else{
            <p>Image unavailable</p>
            }
        </div>
        <div class="col-md-6 form-group">
            <p>
                <label class="control-label">Phone Number</label>
                @Model.Service.PhoneNum
            </p>
            <p>
                <label class="control-label">Email Address</label>
                @Model.Service.Email
            </p>
            <p>
                <label class="control-label">Address</label>
                @Model.Service.Address
            </p>
            <p>
                @Model.Service.Town
            </p>
            <p>
                @Model.Service.Postcode
            </p>
        </div>
        <div class="col-md-6">
            <p>
                @Model.Service.Other
            </p>
            <p>
                <a href="https://@Model.Service.WebLink">@Model.Service.WebLink</a>
            </p>
        </div>
    </div>
</div>
<div>
    

    
</div>

@section Styles{
    <style>
        body {
            background-image: url("/img/contact-bg.jpeg");
        }
    </style>
}