@page
@model WellnessSite.Pages.Admin.Services.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.PhoneNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.PhoneNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.WebLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.WebLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Other)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Other)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.ImageData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.ImageData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.ImageAltText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.ImageAltText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Tags)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Service.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
