@page
@model WellnessSite.Pages.Admin.Services.DetailsModel

@{
    ViewData["Title"] = "Service Details";
    ViewData["Prefs"] = Model.p.ToString();
}

<h1>Details of @Model.Service.Name</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.PhoneNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.PhoneNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.WebLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.WebLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Other)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Other)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.ImageData)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Service.ImageData != null && Model.Service.ImageData.Count() > 0)
            {
                <img class="edit-image" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Service.ImageData))" alt="@Model.Service.ImageAltText" />
            }
            else
            {
                <p>Image unavailable</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.ImageAltText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.ImageAltText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Tags)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Service?.Id">Edit</a> | 
    @if (Model.rPR)
    {
        <a asp-page="../PageRequests">Back to Requests</a>
    }
    else
    {
        <a asp-page="./Index">Back to List</a>
    }
   
    </div>
