@page
@model WellnessSite.Pages.auth.ProfileModel
@{
    ViewData["Title"] = "Profile";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}

@if (Model.name != null && Model.name.Trim() != "")
{
    <h1>Welcome back, @Model.name</h1>
}
else
{
    <h1>Your profile</h1>
}
<hr />
<div class="row">
    <form method="post" class="row">
        <div class="col col-12 col-md-6">
            @if (Model.bookmarks != null && Model.bookmarks.Count() < 1)
            {
                <h3>Any services you bookmark will appear here</h3>
            }
            else
            {
                <h3>Bookmarks</h3>

                @foreach (Models.Bookmarks bm in Model.bookmarks)
                {
                    <p>
                        <a class="btn btn-info text-center w-100" asp-page="/Services/Service" asp-route-id="@bm.ServiceID">@Model.Services.First(s => s.Id == bm.ServiceID).Name</a>
                    </p>
                }

            }
            <br />
            <h3>Change Password</h3>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button asp-page-handler="ChangePassword" class="btn btn-danger">Change password</button>
            <br />
            
            <h3>Change Name</h3>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button asp-page-handler="Changename" class="btn btn-info">Change name</button>
            <br />

            @if (!(await Model._um.IsInRoleAsync(await Model._um.GetUserAsync(User), "OrgAdmin") || await Model._um.IsInRoleAsync(await Model._um.GetUserAsync(User), "Admin")))
            {
                <h3> Request Organisation Admin </h3> 
                <p> Being an Organisation Admin allows you to create services</p>
                <input onclick="display('secQs', this)" type="checkbox" class="btn-check" id="btn-check" asp-for="RequestAdmin" autocomplete="off">
                <label class="btn btn-info" for="btn-check">Request</label><br>
                <div id="secQs">
                    <div class="form-group">
                        <label asp-for="Q1" class="control-label"></label>
                        <select asp-for="Q1" class="form-select">
                            @foreach (Models.SecQues q in Model.sq)
                            {
                                <option value="@q.Question">@q.Question</option>
                            }
                        </select>
                        <span asp-validation-for="Q1" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="A1" class="control-label"></label>
                        <input asp-for="A1" class="form-control" value="@Model.A1" />
                        <span asp-validation-for="A1" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Q2" class="control-label"></label>
                        <select asp-for="Q2" class="form-select">
                            @foreach (Models.SecQues q in Model.sq)
                            {
                                <option value="@q.Question">@q.Question</option>
                            }
                        </select>
                    <span asp-validation-for="Q2" class="text-danger"></span>
                    <span class="text-danger">@Model.SQError</span>
                </div>

                <div class="form-group">
                    <label asp-for="A2" class="control-label"></label>
                    <input asp-for="A2" class="form-control" value="@Model.A2" />
                    <span asp-validation-for="A2" class="text-danger"></span>
                </div>
                <button asp-page-handler="RequestAdmin" class="btn btn-danger">Send Request</button>
            </div>
            }
        </div>
        <div class="col col-12 col-md-6">
            <h2>Modify Advanced Colours</h2>
            <input hidden asp-for="p.UserID" value="@Model.p.UserID" />
            <div class="row">

                <h3> Text preferences</h3>
                <div class="col col-9">
                    <label asp-for="p.Text">Text Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.Text" type="color" value="@Model.p.Text" />
                </div>

                <h3> Page preferences</h3>
                <div class="col col-9">
                    <label asp-for="p.Background">Background Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.Background" type="color" value="@Model.p.Background" />
                </div>
                <div class="col col-9">
                    <label asp-for="p.Link">Hexagon Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.HexColour" type="color" value="@Model.p.HexColour" />
                </div>

                <div class="col col-9">
                    <label asp-for="p.Link">Hexagon Colour 2</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.HexColour2" type="color" value="@Model.p.HexColour2" />
                </div>

                <div class="col col-9">
                    <label asp-for="p.Link">Hexagon Text Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.HexTextColour" type="color" value="@Model.p.HexTextColour" />
                </div>

                <div class="col col-9">
                    <label asp-for="p.Link">Hexagon Hover Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.HexHover" type="color" value="@Model.p.HexHover" />
                </div>
                <div class="col col-9">
                    <label asp-for="p.Highlight">Highlight Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.Highlight" type="color" value="@Model.p.Highlight" />
                </div>
                <div class="col col-9">
                    <label asp-for="p.Link">HyperLink Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.Link" type="color" value="@Model.p.Link" />
                </div>

                <h3> Banner preferences</h3>
                <div class="col col-9">
                    <label asp-for="p.Header">Banner Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.Header" type="color" value="@Model.p.Header" />
                </div>

                <div class="col col-9">
                    <label asp-for="p.HeaderText">Banner Text Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.HeaderText" type="color" value="@Model.p.HeaderText" />
                </div>

                <div class="col col-9">
                    <label asp-for="p.Footer">Footer Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.Footer" type="color" value="@Model.p.Footer" />
                </div>

                <div class="col col-9">
                    <label asp-for="p.FooterText">Footer Text Colour</label>
                </div>
                <div class="col col-3">
                    <input asp-for="p.FooterText" type="color" value="@Model.p.FooterText" />
                </div>

            </div>
            <button asp-page-handler="SetProperties" class="btn btn-success">Save</button>
            <button asp-page-handler="SetProperties" asp-route-reset="true" class="btn btn-danger">Reset</button>
        </div>
    </form>
</div>



<!-- Change password functionality -->
@section Styles{
    <style>
        body {
            background-image: url("../img/login-bg.jpg");
        }
    </style>
}