@page
@model WellnessSite.Pages.Admin.PageRequestsModel
@{
    ViewData["Title"] = "Page Requests List";
    ViewData["Prefs"] = Model.p.ToString();
}
<h1>Submitted Page Requests Pending Approval</h1>

@if(Model.requests.Count() > 0)
{
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Maintainer
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.requests)
                {
                    <tr>
                        <td class="width-40">
                            @r.Name
                        </td>
                        <td class="width-40">
                            @if(r.Maintainer != null)
                            {
                                var u = await Model.um.FindByIdAsync(r.Maintainer);
                                if(u != null)
                                {
                                    @u.Email
                                }
                                else
                                {
                                    @r.Maintainer
                                }
                            }
                        </td>
                        <td class="width-20">
                            <a asp-page="Services/Details" asp-route-id="@r.Id" asp-route-ret="PageRequests" class="btn btn-info">Details</a> | 
                            <button asp-page-handler="ProcessPageRequest" asp-route-sid="@r.Id" asp-route-accept="true" class="btn btn-success">Accept</button> | 
                            <button asp-route-handler="ProcessPageRequest" asp-route-sid="@r.Id" asp-route-accept="false" class="btn btn-danger">Decline</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <h2>No pending pages.</h2>
}
